apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: k8s-webhook-handler
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["get", "list", "delete"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: k8s-webhook-handler
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: k8s-webhook-handler
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: k8s-webhook-handler
subjects:
- kind: ServiceAccount
  name: k8s-webhook-handler
  namespace: default
